<div id="<%= dom_id article_access %>">
  <p>
    <strong>User:</strong>
    <%= article_access.user_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= article_access.article_id %>
  </p>

  <p>
    <strong>Accessed at:</strong>
    <%= article_access.accessed_at %>
  </p>

</div>
