<h1>Editing article access</h1>

<%= render "form", article_access: @article_access %>

<br>

<div>
  <%= link_to "Show this article access", @article_access %> |
  <%= link_to "Back to article accesses", article_accesses_path %>
</div>
